{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}


<footer class="footer">
<p class="maximuss">© créer par Maximuss-Dev / 2022 <a  class="maximuss" href="https://www.maximuss-dev.com">Site Ici</a></p>
</footer>