{% extends 'base.html.twig' %}

{% block title %}New Evenement
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/info.css') }}">
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}

		<div class="container">
			<h1 class="text-center">Ajouter Evenement</h1>
			<div class="row d-flex justify-content-center">

				<div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 m-2 p-3 cadre">
					<div class="m-5">
						{{ include('evenement/_form.html.twig') }}
					</div>
				</div>
				<div class="text-center">
					<a class="btn btn-info" href="{{ path('app_evenement_index') }}">Retour</a>
				</div>
			</div>
		</div>

	{% else %}
		<div class="container text-center justify-content-around">
			<div class="row">
				<div class="col-12">
					<h1>Vous devez être administrateur pour accéder à cette page
						<a href="{{ path('app_login') }}">Se connecter</a>
					</h1>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
